.game-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

    .skill {
        position: relative;
        padding: 10px;
        border-radius: 100px;
        text-align: center;
        position: relative;
        background-color: #848484;
        color: beige;
        transition: opacity 1s ease-in-out;
        cursor: pointer;
        font-size: 1.2rem;

        .level-indicator {
            position: absolute;
            top: -9px;
            right: -9px;
            padding: 0 5px;
            height: 20px;
            font-size: smaller;
            background-color: #655b49;
            border-radius: 100px;
        }

        .show-level {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .avaible {
        background-color: #16291d;
    }

    .unavaible {
        opacity: 0.5;
    }
}

.explosion {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .particle {
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top: 0;
        border-bottom: 10px solid rgb(220, 220, 220);
        z-index: 100;
        animation: pop 0.5s reverse forwards;
    }
}

@keyframes pop {
    from {
        opacity: 0;
    }

    to {
        transform: rotate(360deg);
        top: 50%;
        left: 50%;
        opacity: 1;
    }
}