@use '_colors.scss';

.header-wrapper {
  font-size: clamp(0.9rem, 2.0vw, 2.5rem);
  flex: 1;
  width: 100%;


  .fade-in {
    animation: fade-in 1s ease-in-out;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    gap: clamp(0.1rem, 2vw, 2.5rem);
    transition: transform 0.5s ease-in-out;

    .link-wrapper {
      border: 3px solid;
      padding: clamp(0.4rem, 1vw, 1.5rem);
      border-image-slice: 1;
      border-image-source: linear-gradient(to left, #fc575e, #f7b42c);

      &:hover {
        border-image-slice: 1;
      }
    }

    .first {
      border-image-slice: 1 0 0 1;
    }

    .second {
      border-image-slice: 0 1 1 0;
      border-image-source: linear-gradient(to left, #f7b42c, #fc575e);
    }

    .third {
      border-image-slice: 0 0 1 1;
    }

    .fourth {
      border-image-slice: 1 1 0 0;
      border-image-source: linear-gradient(to left, #f7b42c, #fc575e);
    }

    a {
      text-decoration: none;
      color: beige;
    }

  }
}

@keyframes fade-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  5% {
    transform: translateY(-100%);
    opacity: 0;
  }

  15% {
    transform: translateY(0);
    padding-bottom: 5px;
  }

  30% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(0%);
    padding-bottom: 6px;
  }

  50% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(0%);
    padding-bottom: 7px;
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
    padding-bottom: 8px;
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
    padding-bottom: 9px;
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
    padding-bottom: 0px;
    opacity: 1;
  }
}